{% extends 'base_generic.html' %}

{% block content %}
<!-- Main -->
	<section class="wrapper style1">
		<div class="container">
			<div class="row 200%">
				<div class="8u 12u(narrower)">
					<div id="content">

						<!-- Content -->

							<article>
								<header>
									<h2>Small Engine Repair Classes</h2>
									<p>Learn how to make money fixing lawn mowers</p>
								</header>

                                <p>My name is Casey Christensen. I took a small engine repair class like this one when I was 12, and the skills I learned helped me start my own business.  I now have over 10 years of experience tuning up lawn mowers and running my own lawn mower tune-up/repair business. I have taught over 100 students small engine repair.  My brother Spencer helps teach this class - he ran the business for two years while I was living in England, and is also very experienced in working on small engines.</p>

								<h3>About the Class</h3>
                                <p>It is taught in 2 three-hour sessions (over two days or one long day). Dates are determined based on our and your availability. The class is for mature teens (13+) and adults who can sit through and stay engaged in the class.</p>

                                <p>This class will teach students all about small engines. We'll concentrate mainly on the systems operating within a lawn mower - taught all with hands-on work with actual machines. Students will understand how small engines work by taking apart an engine and putting it back together. They will also learn how to tune up lawn mowers by properly installing spark plugs, checking and cleaning air filters, changing the oil, cleaning out the carburetor. Simple repairs such as repairing pull cables and springs will be taught as well.</p>

                                <p>The first session we will be totally disassembling and reassembling a lawn mower engine, and learning about the 4 systems that are necessary for small engines to function.  The second session will cover how to diagnose, repair, and tune-up a lawn mower.</p>

                                <p>I'll also give practical business advice on how to run your own lawn mower repair/tune up business. You can make enough to earn your tuition money back and more in one day! (That's 4 tune-ups at $40 each!) Learn how when you take the class. Many students who took my class in the past have started their own successful businesses!</p>

                                <p>Tuition: $150 per student.</p>

							</article>

					</div>
				</div>
				<div class="4u 12u(narrower)">
					<div id="sidebar">

						<!-- Sidebar -->
							<section>
								<h3>Upcoming Classes</h3>
                                {% if smallengineclass_list %}
                                <ul>

                                  {% for class in smallengineclass_list %}

                                  <li><b>{{class.city}} (ID: {{class.pk}})</b><br>Session 1: {{ class.session_1_date }}<br>Session 2: {{ class.session_2_date }}<br>{{class.slots_left}}</li>
                                  {% endfor %}

                                </ul>
                                {% else %}
                                  <p>No classes currently scheduled.</p>
                                {% endif %}
								<footer>
                                    <p>Type in the class ID number for the class you want to sign up for, then click buy now!</p>
                                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                        <input type="hidden" name="cmd" value="_s-xclick">
                                        <input type="hidden" name="hosted_button_id" value="2Z73KWPZKADPC">
                                        <table>
                                        <tr><td><input type="hidden" name="on0" value="Class ID">Class ID</td></tr><tr><td><input type="text" name="os0" maxlength="200"></td></tr>
                                        </table>
                                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                        </form>

								</footer>
							</section>

							<section>
								<h3>Interested in hosting?</h3>
								<p id="results">If you have interest in your area (on the Wasatch Front) and would like to host a class, we'd love to come teach at your house! If you get 7 students to pay for the class, the 8th is free. We may also have time to repair or tune up any lawn mowers that you might have (depending on time in the class).</p>
								<footer>
									<a href="mailto:sparklawnmowers@gmail.com" class="button">sparklawnmowers@gmail.com</a>
								</footer>
							</section>

							<section>
								<h3>Want to be notified of new classes?</h3>
								{% if messages %}
									<div>
										<ul class="messages">
											{% for message in messages %}
											<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
											{% endfor %}
										</ul>
									</div>
								{% else %}
								<form method="POST" class="post-form" action="/classes/#results">
									{% csrf_token %}
									{{ form }}
									<button type="submit" class="button">Save</button>
								</form>
								{% endif %}
								<!-- {% if user.is_superuser %}
									<a href="{% url 'UpdateEmailList' %}" class='button'>See List</a>
								{% endif %} -->
							</section>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
