{% extends "base_generic.html" %}

{% block content %}
<!-- Main -->
    <section class="wrapper style1">
    	<div class="container">
    		<div id="content">

    			<!-- Content -->

    				<article>
    					<header>
    						<h2>Unsubscribed</h2>
    						<p></p>
    					</header>

                    <p>You have successfully unsubscribed <b>{{ email }}</b> from getting updates about small engine repair classes.</p>

    				</article>

    		</div>
    	</div>
    </section>
{% endblock %}
