{% extends "base_generic.html" %}

{% block content %}
<!-- Main -->
    <section class="wrapper style1">
    	<div class="container">
    		<div id="content">

    			<!-- Content -->

    				<article>
    					<header>
    						<h2>About Us</h2>
    						<p>Spark Lawn Mower Tune-ups</p>
    					</header>

                    <p> Spencer and Casey Christensen have been fixing and tuning-up lawn mowers in Utah Valley for over 12 years. Our customers keep coming back every year. We're a quick and inexpensive way to keep your lawn mower running like it should.  </p>

    				</article>

    		</div>
    	</div>
    </section>
{% endblock %}
