{% extends 'base_generic.html' %}

{% block content %}
<!-- Main -->
				<section class="wrapper style1">
					<div class="container">
						<div class="row 200%">
							<div class="8u 12u(narrower)">
								<div id="content">

									<!-- Content -->

										<article>
											<header>
												<h2>Right Sidebar</h2>
												<p>Sidebar on the right, content on the left.</p>
											</header>

											<span class="image featured"><img src="images/banner.jpg" alt="" /></span>

											<p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus.
											Praesent semper mod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat.
											Aliquam luctus et mattis lectus sit amet pulvinar. Nam turpis nisi
											consequat etiam lorem ipsum dolor sit amet nullam.</p>

											<h3>And Yet Another Subheading</h3>
											<p>
                                            It will be taught in 2 three-hour sessions (or one long day if we have to). Dates will be determined when we have interested parties. We are looking for mature teens who can sit through and stay engaged in the class.

                                            This class will teach students all about small engines. We'll concentrate
                                            mainly on the systems operating within a lawnmower - taught all with
                                            hands-on work with actual machines. Students will understand how small
                                            engines work by taking apart an engine and putting it back together. They
                                            will also learn how to tune up lawnmowers by properly installing spark
                                            plugs, checking and cleaning air filters, changing the oil, cleaning out the
                                            carburetor. Simple repairs such as repairing pull cables and springs will
                                            be taught as well.

                                            I'll also give practical business advice on how to run your own lawnmower
                                            repair/tune up business. You can make enough to earn your tuition money back and more in one day!
                                            Learn how when you take the class. Some students who took my class
                                            in the past have started their own businesses!

                                            Tuition: $125 per student.

                                            About our instructor:
                                            My name is Casey Christensen and I have years of experience tuning up
                                            lawnmowers and running my own lawnmower tune up /repair business. I have
                                            also taught many classes including small engine repair classes for several years.</p>
										</article>

								</div>
							</div>
							<div class="4u 12u(narrower)">
								<div id="sidebar">

									<!-- Sidebar -->

										<section>
											<h3>Just a Subheading</h3>
											<p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus.
											Praesent semper mod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat.
											Aliquam luctus et mattis lectus sit amet pulvinar. Nam turpis et nisi etiam.</p>
											<footer>
												<a href="#" class="button">Continue Reading</a>
											</footer>
										</section>

										<section>
											<h3>Another Subheading</h3>
											<ul class="links">
												<li><a href="#">Amet turpis, feugiat et sit amet</a></li>
												<li><a href="#">Ornare in hendrerit in lectus</a></li>
												<li><a href="#">Semper mod quis eget mi dolore</a></li>
												<li><a href="#">Consequat etiam lorem phasellus</a></li>
												<li><a href="#">Amet turpis, feugiat et sit amet</a></li>
												<li><a href="#">Semper mod quisturpis nisi</a></li>
											</ul>
											<footer>
												<a href="#" class="button">More Random Links</a>
											</footer>
										</section>

								</div>
							</div>
						</div>
					</div>
				</section>

{% endblock %}
