{% extends "base_generic.html" %}

{% block content %}
<!-- Main -->
    <section class="wrapper style1">
    	<div class="container">
    		<div id="content">

    			<!-- Content -->

    				<article>
    					<header>
    						<h2>log hours here</h2>

    					</header>
                        
                        <iframe width='800' height='700' frameborder='0'
                            src="https://docs.google.com/spreadsheets/d/12SsC9d1GF1XAArGMVvP00gCO_IF0nF6YrE9TqS-88Hc/edit?gid=0&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
    				</article>

    		</div>
    	</div>
    </section>
{% endblock %}
