{% extends "base_generic.html" %}

{% block content %}
<!-- Main -->
	<section class="wrapper style1">
		<div class="container">
			<div id="content">

				<!-- Content -->

					<article>
						<header>
							<h2>Customers</h2>
							<p>we luv our customers.</p>
						</header>

                        {% if customer_list %}
                        <table style="width:75%">
							<tr>
								<th>Name</th>
								<th>Address</th>
								<th>Phone</th>
								<th>Email</th>
							</tr>
                          	{% for customer in customer_list %}
                          	<tr>
                            	<td><b>{{ customer.name }}</b></td>
								<td>{{ customer.address }}</td>
								<td>{% if customer.phone_number %}{{ customer.pretty_phone }}{%endif%}</td>
								<td>{% if customer.email %}{{ customer.email}}{%endif%}</td>
							</tr>
							<tr style="height:13px"></tr>
							<tr>
								<td><em>Lawn Mowers</em></td>
								<td><em>Last Service</em></td>
								<td><em>Service Date</em></td>
							</tr>
							<tr>
								{% if customer.lawnmower_set.all %}
									{% for mower in customer.lawnmower_set.all %}
									<td>{{ mower.brand }}</td>
									<td>{{ mower.last_service }}</td>
									<td>{{ mower.last_serviced }}</td>
									{% endfor %}
								{% else %}
								<td> No lawn mowers :( </td>
								{% endif %}
							</tr>
							<tr style="height:26px"></tr>
                          	{% endfor %}

					  </table>
                        {% else %}
                          <p>There's nothing here.</p>
                        {% endif %}

					</article>

			</div>
		</div>
	</section>
{% endblock %}
