{% extends "base_generic.html" %}

{% block content %}
<!-- Main -->
	<section class="wrapper style1">
		<div class="container">
			<div id="content">

				<!-- Content -->

					<article>
						<header>
							<h2>Lawn Mowers</h2>
							<p>we luv lawn mowers.</p>
						</header>

                        {% if lawnmower_list %}
                        <ul>

                          {% for mower in lawnmower_list %}
                          <li>
                            <h3>{{ mower.owner.name }} - {{mower.owner.address}}</h3>
                            <p>{{ mower.owner.email}} - {{ mower.owner.phone_number}}
							<p>{{mower.brand}} - {{ mower.spark_plug}} - {{ mower.engine_model}} - {{mower.chassis_model}}</p>
							<h4>Service Record</h4>
							{% if mower.servicerecord_set.all %}
								{%for service in mower.servicerecord_set.all %}
							<p>{{ service.service }} {{service.date}}</p>
								{% endfor %}
							{% endif %}

						  </li>
                          {% endfor %}

                        </ul>
                        {% else %}
                          <p>There's nothing here.</p>
                        {% endif %}

					</article>

			</div>
		</div>
	</section>
{% endblock %}
