{% extends 'base_generic.html' %}

{% block content %}
<!-- Main -->
	<section class="wrapper style1">
		<div class="container">
			<div class="row 200%">
				<div class="8u 12u(narrower)">
					<div id="content">

						<!-- Content -->

							<article>
								<header>
									<h2>Small Engine Repair Classes</h2>
									<p>Learn how to make money fixing lawn mowers</p>
								</header>

                                <p>My name is Casey Christensen. I have years of experience tuning up
                                lawnmowers and running my own lawnmower tune up /repair business. I have
                                also taught many classes including small engine repair classes for several years.</p>

								<h3>About the Class</h3>
								<p>
                                It will be taught in 2 three-hour sessions (or one long day if we have to). Dates will be determined when we have interested parties. We are looking for mature teens who can sit through and stay engaged in the class.</p>

                                <p>This class will teach students all about small engines. We'll concentrate
                                mainly on the systems operating within a lawnmower - taught all with
                                hands-on work with actual machines. Students will understand how small
                                engines work by taking apart an engine and putting it back together. They
                                will also learn how to tune up lawnmowers by properly installing spark
                                plugs, checking and cleaning air filters, changing the oil, cleaning out the
                                carburetor. Simple repairs such as repairing pull cables and springs will
                                be taught as well.</p>

                                <p>I'll also give practical business advice on how to run your own lawnmower
                                repair/tune up business. You can make enough to earn your tuition money back and more in one day!
                                Learn how when you take the class. Some students who took my class
                                in the past have started their own businesses!</p>

                                <p>Tuition: $125 per student.</p>

							</article>

					</div>
				</div>
				<div class="4u 12u(narrower)">
					<div id="sidebar">

						<!-- Sidebar -->

							<section>
								<h3>Interested in hosting?</h3>
								<p>If you want a discount and can find enough students to fill a class, I'd love to have you host a class at your house! Email me for more information.</p>
								<footer>
									<a href="mailto:sparklawnmowers@gmail.com" class="button">sparklawnmowers@gmail.com</a>
								</footer>
							</section>

							<section>
								<h3>Upcoming Classes - $125 per student</h3>
                                {% if smallengineclass_list %}
                                <ul>

                                  {% for class in smallengineclass_list %}

                                  <li><b>{{class.city}} (ID: {{class.pk}})</b><br>Session 1: {{ class.session_1_date }}<br>Session 2: {{ class.session_2_date }}<br>Slots left: {{class.slots_left}}</li>
                                  {% endfor %}

                                </ul>
                                {% else %}
                                  <p>No classes currently scheduled.</p>
                                {% endif %}
								<footer>
                                    <p>Type in the class ID number for the class you want to sign up for, then click buy now!</p>
                                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                        <input type="hidden" name="cmd" value="_s-xclick">
                                        <input type="hidden" name="hosted_button_id" value="2Z73KWPZKADPC">
                                        <table>
                                        <tr><td><input type="hidden" name="on0" value="Class ID">Class ID</td></tr><tr><td><input type="text" name="os0" maxlength="200"></td></tr>
                                        </table>
                                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                        </form>

								</footer>
							</section>

					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
